<section>
	<h1>About Us</h1>
	<p>
		TechnoDevelop Corporation is an innovative accelerator of development of new technologies, concepts, and products. Although we are not limited to any particular area and the experience of the personnel and pool of advisory resources range from machine tool design, intelligent robotics, design for automation, customized controllers to user interfaces, virtual reality, software development, and business development; our current niche is biomedical devices technology development.<br><a href=" {{ root_url }}/about">more ...</a>
	</p>
</section>
